http_address="0.0.0.0:4180"
{%- if dev %}
ssl_insecure_skip_verify="true"
{%- endif %}
redirect_url="{{ redirect_url }}"

client_secret="{{ client_secret }}"
client_id="{{ client_id }}"
{%- if oauth_integration %}
provider="oidc"
provider_display_name="Identity Platform"
oidc_issuer_url="{{ oidc_issuer_url }}"
scope="{{ scopes }}"
skip_provider_button="true"
{%- endif %}

{%- if authenticated_emails_file or authenticated_email_domains %}
{%- if authenticated_emails_file %}
authenticated_emails_file="{{ authenticated_emails_file }}"
{%- endif %}
{%- if authenticated_email_domains %}
email_domains={{ authenticated_email_domains }}
{%- endif %}
{%- else %}
email_domains="*"
{%- endif %}
set_xauthrequest="true"
{%- if skip_auth_routes %}
skip_auth_routes={{ skip_auth_routes }}
{%- endif %}

# Mandatory option when using oauth2-proxy with traefik
reverse_proxy="true"
# Required for traefik with ForwardAuth and static upstream configuration
upstreams="static://200"
